{% load bootstrap4 %}{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/ico/favicon-16x16.png">
    <link rel="manifest" href="assets/ico/site.webmanifest">
    <link rel="mask-icon" href="assets/ico/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="assets/ico/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">


    <title>Neighborhood Watch | Welcome</title>

    {% block styles %} {% bootstrap_css %} {% endblock %}
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/plugins/flickity/flickity.min.css">
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/plugins/incline-icons/style.min.css">
    <link rel="stylesheet" href="assets/plugins/highlightjs/styles/codepen-embed.min.css">
    <link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="assets/css/theme.min.css">

    <link href="https://fonts.googleapis.com/css?family=Anton|Bitter|Indie+Flower" rel="stylesheet">

    <script src="https://unpkg.com/ionicons@4.0.0/dist/ionicons.js"></script>

</head>

<body>
    {% include "navbar.html" %}{% block content %} {% endblock %} {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> {% bootstrap_javascript %} {% endblock %}
    <!-- Global JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKMGgFp5OdpSKkQN2X5fd7LSLVPANFjy8"></script>

    <!-- Plugins JS -->
    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/plugins/flickity/flickity.pkgd.min.js"></script>
    <script src="assets/plugins/parallax/parallax.min.js"></script>
    <script src="assets/plugins/waypoints/jquery.waypoints.min.js"></script>
    <script src="assets/plugins/waypoints/shortcuts/inview.min.js"></script>
    <script src="assets/plugins/highlightjs/highlight.pack.min.js"></script>

    <!-- Theme JS -->
    <script src="assets/js/theme.min.js"></script>

</body>