{%extends 'base.html'%} {% block content %} {% load bootstrap4 %}{% load static%}{{ block.super}} {% block styles %} {% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}"> {% endblock %}


<h1>hello</h1>
{% if articles %}{% for article in articles %}
<h1 class="text-center">{{ article.title }}
</h1>

<img src=" {{article.image.url}}" class="img-responsive" alt=" image">

<h4 class="text-center">{{ article.news }}
</h4>{{article.posted}}{% endfor %}{% endif %}{% endblock %}