 {%extends 'base.html'%}{% load bootstrap4 %} {% load static%} {% block content %} {% for user in users %} {% empty %}{{form.media}}

<div class="text-center">
    <h3 style="color:black;">
        <strong>Post News Article</strong>
    </h3>
</div>
<form action="{%url 'news' %}" method="post" enctype="multipart/form-data"> {%csrf_token%}
    <!--  -->
    {% bootstrap_form news_form layout='inline' %}
    <input type="submit" class="btn btn-primary" value="Submit">
</form>{% endfor %}{% endblock %}